{% extends "layout.html" %}
{% block title %} API WARS {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <a class="navbar-brand" href="#">API WARS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Planets List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Voting Statistics</a>
                </li>
            </ul>
                <ul class="navbar-nav" id="logInfo">
                    <li class="nav-item" id="registrationBtn">
                        <a class="nav-link" data-target="#registrationModal" data-toggle="modal">Registration</a>
                    </li>
                    <li class="nav-item" id="loginBtn">
                        <a class="nav-link" data-target="#loginModal" data-toggle="modal">Login</a>
                    </li>
                </ul>

        </div>
    </nav>

    <div id="logoutModal">

    </div>

    {% include 'registration_modal.html' %}
    {% include 'login_modal.html' %}
    {% include 'logout_modal.html' %}

    <h1 id="title">STAR WARS UNIVERSE PLANETS</h1>

    <div id="residents"></div>

    <button type="button" class="btn btn-outline-primary" id="previousButton">Previous</button>
    <button type="button" class="btn btn-outline-primary" id="nextButton">Next</button>

    <table class="table table-bordered text-center shadow-sm my-table">
        <thead class="thead" id="table-head">
        <tr>
            <th>Name</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Water</th>
            <th>Population</th>
            <th>Residents</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>

{% endblock %}

