{% extends "layout.html" %}
{% block title %} API WARS {% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th colspan="2">Name</th>
        <th colspan="2">Diameter</th>
        <th colspan="2">Climate</th>
        <th colspan="2">Terrain</th>
        <th colspan="2">Surface Water Percentage</th>
        <th colspan="2">Population</th>
        <th colspan="2">Residents</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
        <td colspan="2">test</td>
    </tr>
    </tbody>
</table>
{% endblock %}