{% extends 'layout.html' %}

{% block content %}

<div class="modal" id="resModal">
    <table class="table table-bordered text-center shadow-sm">
        <thead class="thead-light" id="residents-table-head">
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Skin Color</th>
            <th>Hair Color</th>
            <th>Eye Color</th>
            <th>Birth Year</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody id="residents-table-body"></tbody>
    </table>
</div>

{% endblock %}

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Residents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered text-center shadow-sm">
                    <thead class="thead-light" id="residents-table-head">
                    <tr>
                        <th>Name</th>
                        <th>Height</th>
                        <th>Mass</th>
                        <th>Skin Color</th>
                        <th>Hair Color</th>
                        <th>Eye Color</th>
                        <th>Birth Year</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody id="residents-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>