{% extends "layout.html" %}
{% block title %} API WARS {% endblock %}

{% block content %}

    <form action="{{ form_url }}" method="POST">

        {% if registration %}
            <h1>Join The Dark Side</h1>
        {% else %}
            <h1>Good you came back it is, Login please</h1>
        {% endif %}

        <label>
            Username: <input type="text" name="username" placeholder="Username goes your here" required/>
        </label>

        <label>
            Password: <input type="password" name="password1" placeholder="Password goes your here" required/>
        </label>

        {% if registration %}
            <label>
                Repeat Password: <input type="password" name="password2" placeholder="Password repeat please" required/>
            </label>

            <button>JOIN</button>

        {% else %}
            <button>LOGIN</button>
        {% endif %}

        {% if error_message %}
            {{ error_message }}
        {% endif %}


    </form>

    <div id="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <button onclick="window.location.href='/'">HOME</button>

{% endblock %}